#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 确保视频覆盖整个屏幕 */
    z-index: -1; /* 放置在内容后面 */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #fff; /* 让文字颜色为白色，避免与视频背景冲突 */
    background: none; /* 移除默认背景色 */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: rgba(0, 0, 0, 0.5); /* 添加透明背景让文字更清晰 */
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.language-switch button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #fff;
    color: #4b2e83;
    cursor: pointer;
    border-radius: 5px;
}

.language-switch button.active {
    background-color: #4b2e83;
    color: #fff;
}

main {
    margin-top: 150px; /* 调整整体位置 */
    text-align: center;
}

#tarot-test button, #tarot-result button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4b2e83;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#tarot-test button:hover, #tarot-result button:hover {
    background-color: #6a4da0;
}

.hidden {
    display: none;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.card-container img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-description {
    font-family: 'Arial', sans-serif; /* 修改字体 */
    color: #f0f0f0; /* 调整文字颜色 */
    text-align: center; /* 居中对齐 */
    margin-top: 15px; /* 调整距离 */
}

footer {
    background-color: #4b2e83;
    color: #fff;
    text-align: center;
    padding: 10px;
}
